@font-face {
  font-family: Now;
  src: url(fonts/Now-Bold.otf);
  font-weight: bold;
  font-style: bold;

}

@font-face {
  font-family: Now;
  src: url(fonts/Now-Regular.otf);
  font-weight: normal;
  font-style: normal;

}

/* @font-face {
  font-family: Bugaki;
  src: url(/public/fonts/Bugaki.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Bugaki;
  src: url(/public/fonts/Bugaki\ Oblique.ttf);
  font-weight: normal;
  font-style: italic;
} */







body{
  font-family: Now;
  font-weight: normal;
  background-color: #D7C8B5;
  
}


.nav{
  background-color:  #c9dbe7;
}
.nav-icono{
  color: #124361;
}



.foto{
  background-image: url(/imgs/fondo3.webp);
  background-repeat: repeat;
}

.foto-texto{
  font-family: Bugaki;
  background-color: #EF7E6B;
  text-decoration: none;
  color: #124361;
}


.introduccion{
  margin-bottom: 100px;
}
.introduccion-h3{
  font-family: Bugaki;
  margin-top: 100px;
  color: #124361;
  font-size: 4rem;
}

.presentacion{
  color: #124361;
  font-weight: 500;
}

.presentacion-h1{
  font-family: Bugaki; 
}



.explicacion{
  background-color: #124361;
  color: whitesmoke;
} 

.explicacion--amarillo{
  background-color: #FDD28A;
  color: #124361;
}



.app{
  background-color: #124361;
}
.app-h1{
  color: #EF7E6B;
  font-family: Bugaki;
  font-size: 4rem; 
}
.app-h3{
  font-family: Bugaki;
  color: whitesmoke;
  font-size: 3rem;
  max-width: 70%;
}
.app-h3--libros{
  margin-top: 100px;
  color: #124361;
  font-size: 4rem;
}
.app-h5{
  color: #EF7E6B;
  font-weight: bold;
}
.app-icon{
  color: #EF7E6B;
}
.app-icon:hover{
  color:  #c9dbe7;
}
.app-container{
  background-color: #FDD28A;
}




.formulario{
  background-color: #EF7E6B;
  color: #124361;
  max-width: 50rem; 
  max-height: auto;
}
.formulario-h1{
  font-family: Bugaki;
}
.formulario-label{
  font-weight: bold;
}
.formulario-label--option{
  background-color: #c9dbe7;
  color: #124361;
}
.formulario-label--switch{
  font-family: Bugaki;
}
.formulario-label--radio{
  font-family: Bugaki;
}
.formulario-inputs{
  background-color: whitesmoke;
  color: #124361;
}
.formulario-icon{
  color:#c9dbe7;
}
.formulario-boton{
  font-weight: bold;
}
.formulario-boton--guardar{
  background-color:  #c9dbe7;
  color: #124361;
}
.formulario-boton--guardar:hover{
  background-color: #124361;
  color: #c9dbe7;
}






.tarjeta{
  background-color: #c9dbe7;
  color: #124361;
  max-width: 60rem;
}
.tarjeta-img{
  max-width: 350px;
  height: auto;
  object-fit: cover;
}
.tarjeta-h3{
  font-weight: bolder;
  text-decoration: underline;
}
.tarjeta-h4{
  font-weight: bold;
  text-decoration: underline;
}
.tarjeta-boton{
  background-color: #FDD28A;
  color: #124361;
  font-weight: bold;
}
.tarjeta-boton:hover{
  background-color: #124361;
  color: whitesmoke;
}
.tarjeta-boton--borrar{
  background-color: #EF7E6B;
}



.editar-h1{
  font-family: Bugaki;
}
.editar-label{
  font-weight: bold;
  
}
.editar-label--option{
  background-color: #FDD28A;
}
.editar-label--switch{
  font-family: Bugaki;
}
.editar-label--radio{
  font-family: Bugaki;
}
.editar-inputs{
  background-color: whitesmoke;
  color: #124361;
}
.editar-icon{
  color:#c9dbe7;  
}
.editar-boton{
  font-weight: bold;
}
.editar-boton--guardar{
  background-color:  #c9dbe7;
  color: whitesmoke;
}
.editar-boton--guardar:hover{
  background-color: #EF7E6B;
}

.editar-boton--guardar{
  background-color: #124361;
}



.text-justify{
  text-align: justify;
}






.footer{
  background-color: #EF7E6B;
  color: #124361;
}

.footer-h5{
  font-family: Bugaki;
  text-decoration: underline;
}

.footer-enlaces{
  text-decoration: none;
  color: #124361;
}





